.roomFilter {
    display: flex;
    justify-content: space-between;
    
    padding: 15px 20px;
    margin-bottom: 15px;
    background-color: rgb(241, 255, 238);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.roomFilter__left {
    display: flex;
    flex-direction: column;
}

.roomFilter__right {
    
}