.sidebarItem {
    display: flex;
    align-items: center; /* aline y-axis */
    cursor: pointer;

    margin: 10px 0; /* spacing between items */
    padding: 20px 20px; /* padding between sidebarItem and Sidebar */
}

.sidebarItem:hover {
    background-color: var(--hover-color);
    border-radius: var(--border-radius);
}

h4 {
    margin-left: 25px; /* space between icon and text */
    font-weight: 600;
}

.sidebarItem > .MuiSvgIcon-root {
    color: var(--icon-color);
}

.sidebarItem:hover > .MuiSvgIcon-root {
    color: rgb(119, 197, 145);
}