.sidebarItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarItem:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarItem > h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebarItem > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #3e4550;
}