.locationGraph {
    padding: 15px 20px;
}

.locationGraph__title {
    padding-bottom: 30px;
}
.locationGraph__details {
    display: flex;
    justify-content: left;
}

.locationGraph__details__item {
    display: flex;
    flex-direction: column;

    padding-right: 40px;
    padding-bottom: 40px;
}