.locationDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 20px;

}

.locationDetails__header {
    padding: 15px 20px;
    background-color: var(--bg-container);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.locationDetails__header__locationNumber {
    text-align: center;
    padding-bottom: 20px;
}

.locationDetails__header__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

.locationDetails__header__details__item {
    text-align: left;
}

.locationDetails__body {
    display: grid;

    grid-template-columns: 1.5fr 1fr;
    margin-top: 20px;
}

.locationDetails__body__left {
    background-color: var(--bg-container);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: var(--text-color);

    padding: 15px 20px;
    margin-right: 30px;

    text-align: center;
}

.locationDetails__body__right {
    background-color: var(--bg-container);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: var(--text-color);

}

.locationDetails__body__right > * {
    margin-bottom: 20px;
}
