.headerDashboard {
    position: sticky;
    display: flex; 
    justify-content: space-between;
    z-index: 100; /* the header is on top of everything else */

    top: 0;
    padding: 15px 20px;

    background-color: var(--bg);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.headerDashboard > * {
    display: flex;
    align-items: center;
}

.headerDashboard__right > .MuiIconButton-root {
    color: var(--icon-color);
}

.headerDashboard:hover > .MuiIconButton-root {
    color: rgb(119, 197, 145);
}

.MuiIconButton-root.rotation {
    transition: transform 500ms;
    transform: rotate(180deg);
}

.dropdownMenu {
    position: absolute;
    top: 80px;
    width: 300px;
    transform: translate(-10%);
    padding: 1rem;
    overflow: hidden;

    background-color: var(--bg);
    color: var(--text-color);
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    border-radius: var(--border-radius);
}