.summary {
}

.summary__macroStats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}
.summary__macroStats > h3 {
    padding: 15px 20px;
    background-color: var(--bg-container);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

    text-align: center;
}