.locationFilter {
    display: flex;
    justify-content: space-between;
    
    padding: 15px 20px;
    margin-bottom: 15px;
    color: var(--text-color);
    background-color: var(--bg-container);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.locationFilter__left {
    display: flex;
    flex-direction: column;
}

.locationFilter__right {
    
}

.PrivateSwitchBase-input-4 {
    color: white;
}