.locations {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.loading {
    padding: 30px 30px;
    color: var(--text-color);
}

.location {
    display: flex;
    flex-direction: column;
    min-height: 100px;

    padding: 15px 20px;

    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.location__locationName {
    text-align: center;

    padding-top: 10px;
    padding-bottom: 20px;
}

.location__locationDetails > * {
    padding: 2px 0;
}

.location:hover {
    transform: scale(1.05);
    color: grey;
}